.App-navigation {
    padding: 20px;
}

.common__label {
    height: 32px;
}

.editorWrapper {
    padding: 0 80px;
}

.editor {
    width: 100%;
}

.editor__input {
    max-width: 50%;
    width: 100%;
    min-height: 300px;
}

.editor__dropdown {
    width: 180px;
}

.editor__output {
    max-width: 50%;
    width: 100%;
    min-height: 300px;
}

.editor__button {
    width: fit-content;
}

.language__text {
    width: 140px;
}

.language__native {
    font-size: 11px;
    color: #999;
}

.language__link {
    font-size: 13px;
}

.input-changed input{
    background: rgba(83, 127, 231, 0.8);
}

.ReviewRephraseViewWrapper .ms-DetailsRow-cell {
    display: flex;
    align-items: center;
}

.ReviewRephraseViewWrapper .ms-TextField {
    flex-grow: 1;
}